.footer {
    background-color: var(--color-primary);
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 97px;
    padding-top: 15px;
    padding-left: 60px;
    padding-right: 60px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}


.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    row-gap: 10px;
}

.footer-links h3 {
    font-weight: 700;
    font-size: 2rem;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    column-gap: 20px;
}